/* body {
    font-family: Arial, sans-serif;
    background:  #243b55;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

} */

#forgot-password-card {
    box-shadow: 0 15px 25px rgba(208, 199, 199, 0.6);
    padding: 50px;
    border-radius: 18px;
    width: 400px;
    text-align: center;
    margin-left: 0%;
    margin-top: 10%;
    /* background-color: rgba(255, 255, 255, 0.8);  */
    justify-content: center;
}

#forgot-password-card h2 {
    color:royalblue;
}

#forgot-password-card p {
    margin: 10px 0;
    color: #aeb2b4;
}

#forgot-password-card form {
    display: flex;
    flex-direction: column;
}

#forgot-password-card input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#forgot-password-card button {
    padding: 10px;
    background-color: royalblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#forgot-password-card button:hover{
    background-color: rgb(50, 204, 73);    
}

#forgot-password-card a {
    color: #d4d9e0;
    
}
